# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

*.txt
*.bc
*.exe
*.ll
### Above combination will ignore all files without extension ###
build
hclib-install
compileTree
config
configure
autom4te.cache
Makefile.in
aclocal.m4
yield
*.so
*.bc
*.exe
